# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/

# Env files
.env
.env.*

# IDE settings
.vscode/
.idea/

# Logs and build
*.log
dist/
build/
*.egg-info/

# OS-specific
.DS_Store
Thumbs.db
